@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-main {
    font-family: 'Poppins', sans-serif;
}

.bg-color-white-dentist {
    background-color: #FFF9FD;
}

.color-white-dentist {
    color: #FFF9FD;
}

.bg-color-black-dentist {
    background-color: #252525;
}

.color-black-dentist {
    color: #252525;
}

.bg-color-gray-dentist {
    background-color: #666666;
}

.color-gray-dentist {
    color: #666666;
}

.bg-color-dark-blue-dentist {
    background-color: #00296D;
}

.border-color-dark-blue-dentist {
    border: #00296D 1px solid;
}

.color-dark-blue-dentist {
    color: #00296D;
}

.bg-color-medium-blue-dentist {
    background-color: #2977d5;
}

.border-color-medium-blue-dentist {
    border: #2977d5 1px solid;
}

.color-medium-blue-dentist {
    color: #2977D5;
}

.bg-color-light-blue-dentist {
    background-color: #44C6E9;
}

.color-light-blue-dentist {
    color: #44C6E9;
}

.btn-shadow {
    box-shadow: 4px 4px 0 #2977d5;
}

.card-shadow {
    box-shadow: 2px 2px 10px #44C6E9;
}

.bg-tooth-dentist {
    background-image: url('../img/image-02.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.bg-bubbles-dentist {
    background-image: url('../img/image-06.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}